.All{
  width: 100%;
  display: flex;
  justify-content: center;
}
  .All2{
    display:block;

  }

  @media screen and (min-width: 50px) {
    .logo {
      width:200px;
      clear: both;  
    }
  }

  .oups{
    color: rgb(16, 48, 1);
    font-size: 40px;
  }
  .dinheader{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 50px;
  }
  .dinheaders{
    width: 100%;
    height: 100%;
    justify-content: center;
  }